<div class="detailsSlide_box" id="comments">
    <div class="detailsSlide_comments" [class.hidden]="!showComments">
        <div class="detailsSlide_commentsTop">
            <div class="detailsSlide_commentsTitle">
                <a href="#" class="detailsSlide_commentsPinned" role="checkbox" aria-checked="false"><i role="img"
                        aria-hidden="true" class="icon-pin"></i><i role="img" aria-hidden="true"
                        class="icon-pin_full"></i></a>
                <h3>הערות בפרק (5)</h3>
            </div>
            <div class="detailsSlide_commentsNew">
                <a href="#" role="button" (click)="showAddCommentSidebar()"> <i role="img" aria-hidden="true"
                        class="icon-new"> </i><span>הערה
                        חדשה</span></a>
            </div>
            <div class="detailsSlide_commentsClose" (click)="showComments = !showComments"><a href="#" role="button"
                    aria-controls="comments"><i role="img" aria-hidden="true" class="icon-close"></i></a></div>
        </div>
        <div class="commentsList">
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentUser"><img src="../../../../assets/images/man.jpg" alt=""><span>יונתן
                            שמעוני</span></div>
                    <div class="commentDate">15/03/2020</div>
                    <div class="commentSection">פרק 1- בעלי חיים</div>
                </div>
                <div class="commentOptions">
                    <a href="#" role="button" class="commentOptions_toggle"><i role="img" aria-hidden="true"
                            class="icon-dots"></i></a>
                    <div class="commentOptions_pop">
                        <ul>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-pencil"></i><span>עריכה</span></a></li>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-trash"></i><span>מחיקה</span></a></li>
                        </ul>
                        <div class="commentOptions_trapFocus"><a href="#" role="button">חזור לתחילת הפאנל</a></div>
                    </div>
                </div>
                <div class="commentText">
                    <p>פרק זה רלוונטי לבעלי חיים.</p>
                    <p>רלוונטי ל- X ו-Y.</p>
                </div>
            </div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentUser"><img src="../../../../assets/images/woman.jpg" alt=""><span>מעיין
                            משה</span></div>
                    <div class="commentDate">14/02/2020</div>
                    <div class="commentSection">0101 - סוסים, חמורים, פרדים (HINNIES) חיים</div>
                </div>
                <div class="commentOptions">
                    <a href="#" role="button" class="commentOptions_toggle"><i role="img" aria-hidden="true"
                            class="icon-dots"></i></a>
                    <div class="commentOptions_pop">
                        <ul>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-pencil"></i><span>עריכה</span></a></li>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-trash"></i><span>מחיקה</span></a></li>
                        </ul>
                        <div class="commentOptions_trapFocus"><a href="#" role="button">חזור לתחילת הפאנל</a></div>
                    </div>
                </div>
                <div class="commentText">
                    <p>ניתן למצוא בסעיף זה זה גם את החיות הבאות: תייש, סוס פוני </p>
                </div>
            </div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentUser"><img src="../../../../assets/images/woman.jpg" alt=""><span>מעיין
                            משה</span></div>
                    <div class="commentDate">18/07/2018</div>
                    <div class="commentSection">0101 - סוסים, חמורים, פרדים (HINNIES) חיים</div>
                </div>
                <div class="commentOptions">
                    <a href="#" role="button" class="commentOptions_toggle"><i role="img" aria-hidden="true"
                            class="icon-dots"></i></a>
                    <div class="commentOptions_pop">
                        <ul>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-pencil"></i><span>עריכה</span></a></li>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-trash"></i><span>מחיקה</span></a></li>
                        </ul>
                        <div class="commentOptions_trapFocus"><a href="#" role="button">חזור לתחילת הפאנל</a></div>
                    </div>
                </div>
                <div class="commentText">
                    <p>ניתן למצוא בסעיף זה זה גם את החיות הבאות: תייש, סוס פוני </p>
                </div>
            </div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentUser"><img src="../../../../assets/images/man.jpg" alt=""><span>יונתן
                            שמעוני</span></div>
                    <div class="commentDate">15/03/2020</div>
                    <div class="commentSection">0101290000/5 - אחרים</div>
                </div>
                <div class="commentOptions">
                    <a href="#" role="button" class="commentOptions_toggle"><i role="img" aria-hidden="true"
                            class="icon-dots"></i></a>
                    <div class="commentOptions_pop">
                        <ul>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-pencil"></i><span>עריכה</span></a></li>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-trash"></i><span>מחיקה</span></a></li>
                        </ul>
                        <div class="commentOptions_trapFocus"><a href="#" role="button">חזור לתחילת הפאנל</a></div>
                    </div>
                </div>
                <div class="commentText">
                    <p>ניתן למצוא בסעיף זה זה גם את החיות הבאות: תייש, סוס פוני </p>
                </div>
            </div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentUser"><img src="../../../../assets/images/man.jpg" alt=""><span>יונתן
                            שמעוני</span></div>
                    <div class="commentDate">15/03/2020</div>
                    <div class="commentSection">0101290000/5 - אחרים</div>
                </div>
                <div class="commentOptions">
                    <a href="#" role="button" class="commentOptions_toggle"><i role="img" aria-hidden="true"
                            class="icon-dots"></i></a>
                    <div class="commentOptions_pop">
                        <ul>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-pencil"></i><span>עריכה</span></a></li>
                            <li><a href="#" role="button"><i role="img" aria-hidden="true"
                                        class="icon-trash"></i><span>מחיקה</span></a></li>
                        </ul>
                        <div class="commentOptions_trapFocus"><a href="#" role="button">חזור לתחילת הפאנל</a></div>
                    </div>
                </div>
                <div class="commentText">
                    <p>ניתן למצוא בסעיף זה זה גם את החיות הבאות: תייש, סוס פוני </p>
                </div>
            </div>
        </div>
    </div>
</div>