<div class="pageTop">
	<div class="centeredContent">
		<h1>ספר מכס: יבוא</h1>
		<div class="pageSearch">
			<strong>חיפוש פרט מכס</strong>
			<div class="pageSearch_toggle">
				<ul>
					<li>
						<label
							><input
								[defaultChecked]="true"
								type="radio"
								(input)="search('searchBy_form01')"
								name="search_toggle"
								class="fst-btn"
								aria-controls="pageSearch_form01"
							/><span class="fst-btn">פרט מכס</span></label
						>
					</li>
					<li>
						<label
							><input
								[checked]="checked === 'pageSearch_form02'"
								type="radio"
								name="search_toggle"
								(input)="search('pageSearch_form02')"
								class="lst-btn"
								aria-controls="pageSearch_form02"
							/><span class="lst-btn">מילה/ צירוף מילים</span></label
						>
					</li>
				</ul>
			</div>
			<div class="pageSearch_form">
				<fieldset>
					<div class="pageSearch_formField shown" [id]="text">
						<input type="text" (input)="onChange($event)" [placeholder]="text" />
					</div>

					<button (click)="searchClick.emit()">חיפוש</button>
				</fieldset>
			</div>
		</div>
	</div>
</div>
