.mainTable_top h2 {
	font-size: 16px;
	line-height: 20px;
	color: var(--blue);
}

.mainTable_top > ul {
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-weight: 700;
	gap: 100px;
	margin-top: 10px;
	font-size: 12px;
	overflow: hidden;
}

.mainTable_top > ul > li {
	list-style-type: none;
}

.mainTable_top {
	position: absolute;
	top: 220px;
	right: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	/* overflow: hidden; */
}

.searchResults_close:before {
	content: '|';
	position: absolute;
	left: 250px;
	top: 3px;
	font-size: 22px;
	color: var(--greyRO);
}

.searchResults_close a {
	display: flex;
	align-items: center;
	font-size: 14px;
	text-decoration: none;
}
