.centeredContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #f3f5f7;
}

.centeredContent .headerFlex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 0 10px;
}

.centeredContent .headerFlex .headerToggle ul {
	display: flex;
	width: 246px;
	height: 30px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
	list-style-type: none;
	outline: none !important;
	padding: 0;

	& li {
		width: calc(246px / 3);
		transition: all 0.2s ease-in-out;

		&::marker {
			display: none;
		}

		width: calc(100% / 3);
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;

		& input {
			position: absolute;
			visibility: hidden;
		}

		&:nth-child(1) {
			border-radius: 15px 0 0 15px;
		}

		&:nth-last-child(1) {
			border-radius: 0 15px 15px 0;
		}

		&.checked {
			background-color: var(--blue);
			color: white;
			border-left-color: var(--blue);
		}

		&:hover {
			box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
			cursor: pointer;
		}

		& span {
			cursor: pointer;
		}
	}
}

.headerFavorites button {
	width: 140px;
	height: 30px;
	padding-top: 2px;
	border-radius: 15px;
	background-color: var(--grey);
	border: 1px solid var(--blue);
	font-size: 14px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
	}
}

i[role='img'][aria-hidden='true'] {
	display: inline;
}

.headerUser {
	padding-right: 30px;
}

.headerUser a {
	display: flex;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
	color: var(--greyText);

	&:hover {
		cursor: pointer;
		color: var(--blue);
	}
}

.headerUser a img {
	display: block;
	width: 30px;
	border-radius: 100%;
	transition: all 0.2s ease-in-out;

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
	}
}

.headerUser a span {
	padding-right: 6px;
}

.headerLogo {
	width: 130px;
	margin-left: 6%;
}

.headerLogo a {
	display: block;
	width: 100%;
	text-decoration: none;
}

.headerLogo img {
	display: block;
	width: 100%;
}

.centeredContent {
	padding: 0 10px;
}

.headerLeft {
	margin-right: auto;
	padding-right: 20px;
	display: flex;
	align-items: center;
}

.headerFlex {
	height: 69px;
	display: flex;
	align-items: center;
}
