<div class="centeredContent">
	<div class="headerFlex">
		<div class="headerLeft">
			<div class="headerUser">
				<a href="#" role="button">
					<span>יונתן שמעוני</span>
					<img src="../../../../assets/images/man.jpg" alt="" />
				</a>
			</div>
			<div class="headerFavorites">
				<button><span>המועדפים שלי</span><fa-icon [icon]="faStar" role="img" aria-hidden="true"></fa-icon></button>
			</div>
		</div>
		<div class="headerToggle">
			<ul role="tablist">
				<li (click)="selectState('אוטונומיה')" [class.checked]="selected === 'אוטונומיה'">
					<label
						><input
							type="radio"
							name="pageSearch_toggle"
							[checked]="selected === 'אוטונומיה'"
							class="fst-btn"
							aria-controls="sectionSelect1"
						/><span>אוטונומיה</span></label
					>
				</li>
				<li (click)="selectState('יצוא')" [class.checked]="selected === 'יצוא'">
					<label
						><input
							type="radio"
							checked=""
							name="pageSearch_toggle"
							[checked]="selected === 'יצוא'"
							class="fst-btn"
							aria-controls="sectionSelect1"
						/><span>יצוא</span></label
					>
				</li>
				<li (click)="selectState('יבוא')" [class.checked]="selected === 'יבוא'">
					<label
						><input
							type="radio"
							checked=""
							name="pageSearch_toggle"
							[checked]="selected === 'יבוא'"
							class="fst-btn"
							aria-controls="sectionSelect1"
						/><span>יבוא</span></label
					>
				</li>
			</ul>
		</div>
		<div class="headerLogo">
			<a href="#"><img class="logoImage" src="../../../../assets/images/amital.png" alt="UNIFREIGHT" /></a>
		</div>
	</div>
</div>
