<div class="mainTable">
	<app-add-comment class="addCommentSlider" />
	<div class="centeredContent">
		<div class="mainTable_list">
			<div class="data_row_container" [class.active]="!showDetails">
				<app-table-top [resCount]="data?.length" class="app-table-top" [class.active]="!showDetails" />
				<ng-template #recursiveTemplate let-data>
					<ul class="wtree" [@inOutAnimation]>
						<li *ngFor="let item of data" [@inOutAnimation]>
							<app-data-row
								[data]="item"
								(showCommentSidebar)="showAddComment = !showAddComment"
								(showDetails)="showDetails = !showDetails"
								(showChildern)="showChildern(item?.ID)"
								[selected]="childrenToDesplay.includes(item.ID)"
								class="app-data-row"
							></app-data-row>

							<ng-container *ngIf="childrenToDesplay.includes(item.ID); customsItemHierarchicLocationID">
								<ng-container
									*ngTemplateOutlet="recursiveTemplate; context: { $implicit: item.children }"
								></ng-container>
							</ng-container>
						</li>
					</ul>
				</ng-template>

				<ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: data }"></ng-container>
			</div>
			<div class="details_frame_container" [class.active]="showDetails">
				<app-details-frame (showDetails)="showDetails = !showDetails" />
			</div>
		</div>
	</div>
</div>
